@media (orientation: landscape) {

    #cabecera {
        visibility: collapse;
    }

    #fondopantalla {
        background-color: #00eaff;
    }

}

@media (max-width: 1600px) {
    ion-item {
        --ion-background-color: #838383;
        text-align: center;
        color: #fff;
    }

    ion-content {
        --ion-background-color: #8ae4c6;
    }

    ion-card-content {
        background-color: white;
        color: #fff;
    }

    ion-title {
        --ion-background-color: #fff;
        font-family: "Bahnschrift";
        --ion-font-size: 20px;
        color: #000;
        text-align: center;
    }

}

ion-toolbar {
    color: white;
    --ion-background-color: #126427;
}

ion-grid {
    background-color: #4bbe68;
}

ion-card-content {
    background-color: white;
}

h2 {
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
}

.tipotarjeta {
    color: white;
    --ion-background-color: #9fd8ad;
    --ion-font-family: "Arial";
}