<ion-header id="cabecera">
  <ion-toolbar>
    <ion-title>
      {{ tituloapp }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-input [(ngModel)]="buscar" placeholder="Escribe aquí"></ion-input><ion-icon name="search"></ion-icon>
  </ion-item>
  <ion-grid id="fondopantalla">
    <ion-row>
      <ion-col *ngFor="let card of cards | async" size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card *ngIf="card.card_type==buscar || card.card_currency==buscar || card.card_currency_code==buscar || card.card_number==buscar ">
          <ion-item class="tipotarjeta">
            <ion-avatar item-start>
            </ion-avatar>
            <h2>{{ card.card_type }}</h2>&nbsp;&nbsp;&nbsp;<ion-icon name="logo-bitcoin"></ion-icon>
          </ion-item>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>
                  <ion-icon name="cash"></ion-icon>&nbsp;<b>: </b> {{ card.card_currency }}
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-icon name="barcode"></ion-icon>&nbsp;<b>: </b> {{ card.card_currency_code }}
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-icon name="card"></ion-icon>&nbsp;<b>: </b> {{ card.card_number }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>